@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Montserrat", sans-serif;
}

body {
  margin: 16px;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
}

.item li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
}

.item li:not(:last-child) {
  margin-bottom: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery li {
  width: calc((100% - 48px) / 3);
  height: auto;
  margin-bottom: 51px;
}

#name-input {
  font-family: var(--font-family);
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  /* color: #2e2f42; */
  margin-top: 24px;
  padding-left: 16px;
}

#name-input:hover,
.login-form input:hover {
  border: 1px solid #000;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}

.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-family);
}

.widget p {
  font-weight: 400;
  color: #2e2f42;
}
.change-color {
  border-radius: 8px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
}
